#!/bin/bash
sudo apt-get update
sudo apt-get -qy install apache2

# Setup Website
sudo rm -rf /var/www/html/*
curl https://raw.githubusercontent.com/randomstr1ng/dsag-hackathon-2024/main/infrastructure-deployment/website/favicon.ico -o /var/www/html/favicon.ico
curl https://raw.githubusercontent.com/randomstr1ng/dsag-hackathon-2024/main/infrastructure-deployment/website/index.html -o /var/www/html/index.html
curl https://raw.githubusercontent.com/randomstr1ng/dsag-hackathon-2024/main/infrastructure-deployment/website/style.css -o /var/www/html/style.css